<!DOCTYPE html>
<html>
   <head>
      <style>
         form {
            box-sizing:border-box;
            font-size: 20pt;
         }
         label {
            font-size: 10pt;
         }
      </style>
   </head>
   <body>
      <h1>Shopping List</h1>
      <form action = "http://localhost:5000/cart" method = "POST">
         <p>Laptop <input type = "checkbox" name = "Laptop" />
            <label>add to cart</label></p>
         <p>TV <input type = "checkbox" name = "TV" />
            <label>add to cart</label></p>
         <p>Game Console <input type = "checkbox" name = "Game Console" />
            <label>add to cart</label></p>
         <p>Movie <input type ="checkbox" name = "Movie" />
            <label>add to cart</label></p>
         <p>Video Games <input type = "checkbox" name = "Video Game" />
            <label>add to cart</label></p>
         <p>Chips <input type = "checkbox" name = "Chips" />
            <label>add to cart</label></p>
         <p>Coffee <input type = "checkbox" name = "Coffee" />
            <label>add to cart</label></p>
         <p>Tea <input type = "checkbox" name = "Tea" />
            <label>add to cart</label></p>
         <p>Donuts <input type = "checkbox" name = "Donuts" />
            <label>add to cart</label></p>
         <p>Candy <input type = "checkbox" name = "Candy" />
            <label>add to cart</label></p>
         <p>Soda <input type = "checkbox" name = "Soda" />
            <label>add to cart</label></p>
         
         <p><input type = "submit" value = "Go to Cart" /></p>
      </form>
   </body>
</html>